<div class="search-beer-container">
    <div class="search-container">
        <div class="title">
            <mat-icon fontIcon="search"></mat-icon>
            <h4>Search</h4>
        </div>

        <div class="form-container">
            <mat-checkbox [(ngModel)]="isSearchModeOn" (change)="onChange($event)" class="search-mode-check">search mode</mat-checkbox>
            <section class="form-search" *ngIf="isSearchModeOn">
                    <label class="title-search">Search by Food Pairing</label>
                    <input class="input-search" [formControl]="foodPairedInputControl" type="text" placeholder="Food Pairing">
                    <button class="button-search" mat-raised-button (click)="onSubmitSearch()">Search</button>
            </section>
        </div>
    </div>
</div>
