.favourite-container{
    width:15vw ;
    height: 85.5vh;
    max-height:85.5vh;
    padding: 0;
    margin: 0;
    background-color: #353b26;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.remove-all-button{
    margin-top: 15px;;
    background-color: #424a30;
    color: antiquewhite;
}